extends ../../layout/layout
block title
	title Манжерок 
block content
	.inner
		.front-top.mblock
			.front-top__row 
				.front-top__left._br.front-top__main._p-h
						.front-top__main-bg
							include ../../layout/component/header/header
							video#front-main-video(src="video/Mangerok.mp4" playsinline="" loop="" autoplay="" muted="") 
							.front-top__main-bg-flex 
								img(src="img/front-logo.svg", alt="").front-top__main-bg-logo
								.front-top__main-bg-title Место единения с природой
								.front-top__main-bg-traveline
									<div id='block-search'>
										<div id="tl-search-form" class="tl-container">
											<a href="https://www.travelline.ru/products/tl-hotel/" target="_blank">TravelLine</a>
										</div>
									</div>
									<script type='text/javascript'> (function(w) { var q = [['setContext', 'TL-INT-manzherok_2022-12-07', 'ru'],['embed', 'search-form', { container: 'tl-search-form' }] ]; var h=["ru-ibe.tlintegration.ru","ibe.tlintegration.ru","ibe.tlintegration.com"];var t = w.travelline = (w.travelline || {}),ti = t.integration = (t.integration || {}); ti.__cq = ti.__cq ? ti.__cq.concat(q) : q;if (!ti.__loader) { ti.__loader = true;var d=w.document,c=d.getElementsByTagName("head")[0]||d.getElementsByTagName("body")[0]; function e(s,f) {return function() {w.TL||(c.removeChild(s),f())}}(function l(h) { if (0===h.length) return; var s=d.createElement("script"); s.type="text/javascript";s.async=!0;s.src="https://"+h[0]+"/integration/loader.js"; s.onerror=s.onload=e(s,function(){l(h.slice(1,h.length))});c.appendChild(s) })(h); }})(window);</script>

								.front-top__main-bg-down 
									<svg width="15" height="21" viewBox="0 0 15 21" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M13.6612 14.1997L14.0148 13.8462L13.3077 13.139L12.9541 13.4926L13.6612 14.1997ZM7.15385 20L6.80029 20.3536L7.15385 20.7071L7.5074 20.3536L7.15385 20ZM1.35355 13.4926L1 13.139L0.292893 13.8462L0.646447 14.1997L1.35355 13.4926ZM12.9541 13.4926L6.80029 19.6464L7.5074 20.3536L13.6612 14.1997L12.9541 13.4926ZM7.5074 19.6464L1.35355 13.4926L0.646447 14.1997L6.80029 20.3536L7.5074 19.6464ZM7.65385 20L7.65385 2.75098e-08L6.65385 -2.75098e-08L6.65385 20H7.65385Z" fill="white"/>
									</svg>
						.front-top__main-open
						.h1 Место для единения
							br
							| с природой
				.front-top__right.grid-1._br._gap-15
					.grid-2._gap-15 
						.weather-block._br.load-anim._delay-0
							.weather-block__temp
								img(src="img/sun.svg", alt="")
								span -12
									sup o
									| C
							.weather-block__status Солнечно
							.weather-block__feeling Ощущается как -4
								sup о
							.weather-block__dynamics
								.weather-block__dynamics-negative -23
									sup o
								.weather-block__dynamics-positive -10
									sup o
						.ihome._br.load-anim._delay-300
							img(src="img/ihome.svg", alt="")
							.ihome__title Я дома
							.ihome__date 13 мая, пятница
							a.ihome__resort Я на курорте
					.front-top-slider.load-anim._delay-600
						.swiper.front-top-slider__slider
							.swiper-wrapper
								.swiper-slide._br
									a(href="/") 
										img(src="img/skypass.jpg", alt="")
								.swiper-slide._br
									a(href="/") 
										img(src="img/skypass.jpg", alt="")
							.front-top-slider__pagi
					.map-link._br.load-anim._delay-900
						+picture('fronttopmap-bg','jpg').map-link__bg
						img(src="img/map-link.svg", alt="").map-link__icon
						a(href="#").map-link__title Карта курорта
					.load-anim._delay-1200
						.workload._br
							
							.workload__head 
								.workload__title Загруженность подъемников
								.workload__procent 
									span._low <50%
									span._medium >50%
									span._high 75-100%
									span._very-high 100% +
							.workload__body 
								
								input(type="text")#workload-slider
								.workload__line
								ul.workload__legends
									li._low 0 - 50%
									li._medium 50 - 75%
									li._high 75 - 100%
									li._very-high 100% +
					
				.front-top__left._br.front-traveline._p-h.load-anim._delay-1500
					+picture('traveline1','jpg').front-traveline__bg
					h3 Бронирование номера 
									<style>#tl-booking-form{width: 100%;max-width:1440px;margin: 0 auto;}#tl-anchor {font: 20px 'Eastman', sans-serif;color: #2a2a29;line-height: 24px;margin: 0 auto 50px;max-width: 1400px;}</style>
					<div id='block-search'>
						<div id="tl-search-form2" class="tl-container">
							<a href="https://www.travelline.ru/products/tl-hotel/" target="_blank">TravelLine</a>
						</div>
					</div>
					<script type='text/javascript'> (function(w) { var q = [['setContext', 'TL-INT-manzherok_2022-12-07', 'ru'],['embed', 'search-form', { container: 'tl-search-form2' }] ]; var h=["ru-ibe.tlintegration.ru","ibe.tlintegration.ru","ibe.tlintegration.com"];var t = w.travelline = (w.travelline || {}),ti = t.integration = (t.integration || {}); ti.__cq = ti.__cq ? ti.__cq.concat(q) : q;if (!ti.__loader) { ti.__loader = true;var d=w.document,c=d.getElementsByTagName("head")[0]||d.getElementsByTagName("body")[0]; function e(s,f) {return function() {w.TL||(c.removeChild(s),f())}}(function l(h) { if (0===h.length) return; var s=d.createElement("script"); s.type="text/javascript";s.async=!0;s.src="https://"+h[0]+"/integration/loader.js"; s.onerror=s.onload=e(s,function(){l(h.slice(1,h.length))});c.appendChild(s) })(h); }})(window);</script>
				.front-top__right._br.front-info._p-h.load-anim._delay-1800
					img(src="img/icon-i.svg", alt="").front-info__icon

					| В 2017 году курорт стал одним из приоритетных инвестпроектов 
		.front-ablut-row._gap-15.mblock
			._p._br.front-about( data-aos="fade",data-aos-duration="500")
				h2 Курорт «Манжерок» у подножия
					br
					| горы Малая Синюха открывает двери
					br
					| в удивительный Горный Алтай.
				p 
					big  Удобное расположение вблизи основных
						br
						| достопримечательностей и развитая
						br
						| инфраструктура сделают отдых незабываемым.
				a(href="#").link-arrow О КУРОРТЕ
			.one-slider._br(data-aos="fade",data-aos-delay='200',data-aos-duration="500")
				.one-slider__slider.swiper
					.swiper-wrapper 
						.swiper-slide
							+picture('slide','jpg')
						.swiper-slide
							+picture('slide','jpg')
						.swiper-slide
							+picture('slide','jpg')
						.swiper-slide
							+picture('slide','jpg')
						.swiper-slide
							+picture('slide','jpg')
					.one-slider__fract
						span.one-slider__fract-now
						span.one-slider__fract-all
						
					.one-slider__pagi
		.front-services.block#front-services
			.front-service-slider._br(data-aos="fade",data-aos-delay='0',data-aos-duration="500",data-aos-anchor="#front-services")
				.front-service-slider__swiper.swiper 
					.swiper-wrapper
						.swiper-slide.front-service-slide._p._br(data-customcursor)
							.front-service-slide__bg 
								+picture('s-1','jpg')
							a(href="/").link-chevron.h2 Горы 
							.front-service-slide__body 
								p  Крупнейший курорт в республике Алтай
					
						.swiper-slide.front-service-slide._p._br(data-customcursor)
							.front-service-slide__bg.h2
								+picture('s-2','jpg')
							a(href="/").link-chevron.h2 Горы 
							.front-service-slide__body 
								p  Крупнейший курорт в республике Алтай
					
						.swiper-slide.front-service-slide._p._br(data-customcursor)
							.front-service-slide__bg.h2 
								+picture('s-3','jpg')
							a(href="/").link-chevron.h2 Горы 
							.front-service-slide__body
								p  Крупнейший курорт в республике Алтай
				.front-service-slider__pagi._p-h
	
			.front-service._br(data-customcursor, data-aos="fade",data-aos-delay='300',data-aos-duration="500",data-aos-anchor="#front-services")
				.front-service__bg 
					+picture('s-2','jpg')
				a(href="#").front-service__link ГорнолыжнаЯ школа
				
		
			.front-service._br(data-customcursor, data-aos="fade",data-aos-delay='600',data-aos-duration="500",data-aos-anchor="#front-services")
				.front-service__bg 
					+picture('s-3','jpg')
				a(href="#").front-service__link Прокат оборудования 
			.front-service._br(data-customcursor, data-aos="fade",data-aos-delay='900',data-aos-duration="500",data-aos-anchor="#front-services")
				.front-service__bg 
					+picture('s-4','jpg')
				a(href="#").front-service__link Купить Skipass 
			.front-service._br(data-customcursor, data-aos="fade",data-aos-delay='1200',data-aos-duration="500",data-aos-anchor="#front-services")
				.front-service__bg 
					+picture('s-5','jpg')
				a(href="#").front-service__link Тюбинг
			.front-service._br(data-customcursor, data-aos="fade",data-aos-delay='1500',data-aos-duration="500",data-aos-anchor="#front-services")
				.front-service__bg 
					+picture('s-6','jpg')
				a(href="#").front-service__link Карта склонов
		.front-sales.block#front-sales
			.block__head._p-h
				.h2 Акции и спецпредложения
			.front-sales__row 
				.front-sale._br(data-customcursor, data-aos="fade",data-aos-delay='000',data-aos-duration="500",data-aos-anchor="#front-sales")
					.front-sale__bg 
						+picture('s-7','jpg')
					a(href="https://manzherok.travel/ru/about/special-offers/2876/").front-sale__link Блюда на вынос
						br
						| со скидкой 10%
				.front-sale._br(data-customcursor, data-aos="fade",data-aos-delay='300',data-aos-duration="500",data-aos-anchor="#front-sales")
					.front-sale__bg 
						+picture('s-8','jpg')
					a(href="https://manzherok.travel/ru/about/special-offers/2474/").front-sale__link Беседка 1+1=3 
				.front-sale._br(data-customcursor, data-aos="fade",data-aos-delay='600',data-aos-duration="500",data-aos-anchor="#front-sales")
					.front-sale__bg 
						+picture('s-9','jpg')
					a(href="https://manzherok.travel/ru/about/special-offers/2559/").front-sale__link День Рождения в Манжероке
				.front-sale._br.video-hover-play(data-customcursor, data-aos="fade",data-aos-delay='1200',data-aos-duration="500",data-aos-anchor="#front-sales")
					.front-sale__bg 
						video(src="video/wedding.mp4"  preload="metadata" playsinline="" loop=""  muted="") 
					a(href="https://manzherok.travel/ru/about/special-offers/2580/").front-sale__link  Свадьба в Горах 
		.front-accommodation.block#front-accommodation
			.block__head._p-h
				a.h2.link-chevron(href="#") Проживание 
				.block__slider-nav.mob-hidden
					button.block__slider-prev
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.3077 25.6154L0.999999 13.3077M0.999999 13.3077L13.3077 1M0.999999 13.3077H41" stroke="#B2C2D3" stroke-width="1.4"/>
						</svg>

					button.block__slider-next
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M27.6923 25.6154L40 13.3077M40 13.3077L27.6923 1M40 13.3077H0" stroke="#106AC6" stroke-width="1.4"/>
						</svg>	

			.front-accommodation__slider.swiper 
				.swiper-wrapper
					.swiper-slide.accommodation-slide._br(data-customcursor, data-aos="fade",data-aos-delay='0',data-aos-duration="500",data-aos-anchor="#front-accommodation")
						.accommodation-slide__bg
							+picture('a-1','jpg')
						a(href="#").accommodation-slide__title Виллы
				
					.swiper-slide.accommodation-slide._br(data-customcursor, data-aos="fade",data-aos-delay='300',data-aos-duration="500",data-aos-anchor="#front-accommodation")
						.accommodation-slide__bg
							+picture('a-2','jpg')
						a(href="#").accommodation-slide__title Отель 5
						.accommodation-slide__stars
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
					.swiper-slide.accommodation-slide._br(data-customcursor, data-aos="fade",data-aos-delay='600',data-aos-duration="500",data-aos-anchor="#front-accommodation")
						.accommodation-slide__bg
							+picture('a-3','jpg')
						a(href="#").accommodation-slide__title  Отель 3
						.accommodation-slide__stars
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
					.swiper-slide.accommodation-slide._br(data-customcursor, data-aos="fade",data-aos-delay='900',data-aos-duration="500",data-aos-anchor="#front-accommodation")
						.accommodation-slide__bg
							+picture('a-4','jpg')
						a(href="#").accommodation-slide__title Глэмпинг

					.swiper-slide.accommodation-slide._br(data-customcursor, data-aos="fade",data-aos-delay='1200',data-aos-duration="500",data-aos-anchor="#front-accommodation")
						.accommodation-slide__bg
							+picture('a-1','jpg')
						a(href="#").accommodation-slide__title Виллы
			
					.swiper-slide.accommodation-slide._br(data-customcursor, data-aos="fade",data-aos-delay='1500',data-aos-duration="500",data-aos-anchor="#front-accommodation")
						.accommodation-slide__bg
							+picture('a-2','jpg')
						a(href="#").accommodation-slide__title Отель 5
						.accommodation-slide__stars
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
					.swiper-slide.accommodation-slide._br(data-customcursor, data-aos="fade",data-aos-delay='1800',data-aos-duration="500",data-aos-anchor="#front-accommodation")
						.accommodation-slide__bg
							+picture('a-3','jpg')
						a(href="#").accommodation-slide__title  Отель 3
						.accommodation-slide__stars
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
							img(src="img/star.svg", alt="")
					.swiper-slide.accommodation-slide._br(data-customcursor, data-aos="fade",data-aos-delay='2100',data-aos-duration="500",data-aos-anchor="#front-accommodation")
						.accommodation-slide__bg
							+picture('a-4','jpg')
						a(href="#").accommodation-slide__title Глэмпинг
				
		
		.front-restbars.block#front-restbars
			.block__head._p-h
				a.h2.link-chevron(href="#") Рестораны и бары 
				.block__slider-nav.mob-hidden
					button.block__slider-prev
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.3077 25.6154L0.999999 13.3077M0.999999 13.3077L13.3077 1M0.999999 13.3077H41" stroke="#B2C2D3" stroke-width="1.4"/>
						</svg>

					button.block__slider-next
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M27.6923 25.6154L40 13.3077M40 13.3077L27.6923 1M40 13.3077H0" stroke="#106AC6" stroke-width="1.4"/>
						</svg>	

			.front-restbars__slider.swiper 
				.swiper-wrapper
					.swiper-slide.front-restbars__two-column.front-restbar-desctop
						.front-restbar(data-aos="fade",data-aos-delay='0',data-aos-duration="0",data-aos-anchor="#front-restbars")
							.front-restbar__photo._br(data-customcursor)
								+picture('restbars-1','jpg')
							a(href="#").front-restbar__title Точки питания на горе
						.front-restbar(data-aos="fade",data-aos-delay='0',data-aos-duration="300",data-aos-anchor="#front-restbars")
							.front-restbar__photo._br(data-customcursor)
								+picture('restbars-2','jpg')
							a(href="#").front-restbar__title РЕСТОРАН «ГОРНЫЙ»
					.swiper-slide.front-restbars__one-column.front-restbar-desctop
						.front-restbar(data-aos="fade",data-aos-delay='0',data-aos-duration="600",data-aos-anchor="#front-restbars")
							.front-restbar__photo._br(data-customcursor)
								+picture('restbars-3','jpg')
							a(href="#").front-restbar__title Панорамный ресторан
					.swiper-slide.front-restbars__two-column.front-restbar-desctop
						.front-restbar(data-aos="fade",data-aos-delay='0',data-aos-duration="800",data-aos-anchor="#front-restbars")
							.front-restbar__photo._br(data-customcursor)
								+picture('restbars-4','jpg')
							a(href="#").front-restbar__title Ресторан в виллах
						.front-restbar(data-aos="fade",data-aos-delay='0',data-aos-duration="900",data-aos-anchor="#front-restbars")
							.front-restbar__photo._br(data-customcursor)
								+picture('restbars-5','jpg')
							a(href="#").front-restbar__title Фудкорт
					.swiper-slide.front-restbars__one-column.front-restbar-desctop
						.front-restbar(data-aos="fade",data-aos-delay='0',data-aos-duration="1200",data-aos-anchor="#front-restbars")
							.front-restbar__photo._br(data-customcursor)
								+picture('restbars-6','jpg')
							a(href="#").front-restbar__title Лобби-бар

				
					.front-restbar.swiper-slide.front-restbar-mobile
						.front-restbar__photo._br(data-customcursor)
							+picture('restbars-1','jpg')
						a(href="#").front-restbar__title Точки питания на горе
					.front-restbar.swiper-slide.front-restbar-mobile
						.front-restbar__photo._br(data-customcursor)
							+picture('restbars-2','jpg')
						a(href="#").front-restbar__title РЕСТОРАН «ГОРНЫЙ»
					.front-restbar.swiper-slide.front-restbar-mobile
						.front-restbar__photo._br(data-customcursor)
							+picture('restbars-3','jpg')
						a(href="#").front-restbar__title Панорамный ресторан
					.front-restbar.swiper-slide.front-restbar-mobile
						.front-restbar__photo._br(data-customcursor)
							+picture('restbars-4','jpg')
						a(href="#").front-restbar__title Ресторан в виллах
					.front-restbar.swiper-slide.front-restbar-mobile
						.front-restbar__photo._br(data-customcursor)
							+picture('restbars-5','jpg')
						a(href="#").front-restbar__title Фудкорт
					.front-restbar.swiper-slide.front-restbar-mobile
						.front-restbar__photo._br(data-customcursor)
							+picture('restbars-6','jpg')
						a(href="#").front-restbar__title Лобби-бар
		.front-entertainment.block#front-entertainment 
			.block__head._p-h
				a.h2.link-chevron(href="#") Развлечения 
				.block__slider-nav.mob-hidden
					button.block__slider-prev
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.3077 25.6154L0.999999 13.3077M0.999999 13.3077L13.3077 1M0.999999 13.3077H41" stroke="#B2C2D3" stroke-width="1.4"/>
						</svg>

					button.block__slider-next
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M27.6923 25.6154L40 13.3077M40 13.3077L27.6923 1M40 13.3077H0" stroke="#106AC6" stroke-width="1.4"/>
						</svg>	

			.front-entertainment__slider.swiper#front-enterneiment
				.swiper-wrapper
					.swiper-slide.front-entertainment-slide(data-aos="fade",data-aos-delay='0',data-aos-duration="0",data-aos-anchor="#front-enterneiment")
						.front-entertainment-slide__photo._br(data-customcursor)
							+picture('e-1','jpg')
						.front-entertainment-slide__link(href="#") Бани в виллах
					.swiper-slide.front-entertainment-slide(data-aos="fade",data-aos-delay='300',data-aos-duration="0",data-aos-anchor="#front-enterneiment")
						.front-entertainment-slide__photo._br(data-customcursor)
							+picture('e-2','jpg')
						.front-entertainment-slide__link(href="#") SPA-комплекс
					.swiper-slide.front-entertainment-slide(data-aos="fade",data-aos-delay='600',data-aos-duration="0",data-aos-anchor="#front-enterneiment")
						.front-entertainment-slide__photo._br(data-customcursor)
							+picture('e-3','jpg')
						.front-entertainment-slide__link(href="#") ЙОГА
					.swiper-slide.front-entertainment-slide(data-aos="fade",data-aos-delay='900',data-aos-duration="0",data-aos-anchor="#front-enterneiment")
						.front-entertainment-slide__photo._br(data-customcursor)
							+picture('e-4','jpg')
						.front-entertainment-slide__link(href="#") Параплан
					
					.swiper-slide.front-entertainment-slide(data-aos="fade",data-aos-delay='1200',data-aos-duration="0",data-aos-anchor="#front-enterneiment")
						.front-entertainment-slide__photo._br(data-customcursor)
							+picture('e-1','jpg')
						.front-entertainment-slide__link(href="#") Бани в виллах
					.swiper-slide.front-entertainment-slide(data-aos="fade",data-aos-delay='1500',data-aos-duration="0",data-aos-anchor="#front-enterneiment")
						.front-entertainment-slide__photo._br(data-customcursor)
							+picture('e-2','jpg')
						.front-entertainment-slide__link(href="#") SPA-комплекс
					.swiper-slide.front-entertainment-slide(data-aos="fade",data-aos-delay='1800',data-aos-duration="0",data-aos-anchor="#front-enterneiment")
						.front-entertainment-slide__photo._br(data-customcursor)
							+picture('e-3','jpg')
						.front-entertainment-slide__link(href="#") ЙОГА
					.swiper-slide.front-entertainment-slide(data-aos="fade",data-aos-delay='2100',data-aos-duration="0",data-aos-anchor="#front-enterneiment")
						.front-entertainment-slide__photo._br(data-customcursor)
							+picture('e-4','jpg')
						.front-entertainment-slide__link(href="#") Параплан
					
		.front-press.block 
			.block__head._p-h
				a.h2.link-chevron(href="#") Пресс-центр 
				.block__slider-nav.mob-hidden
					button.block__slider-prev
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.3077 25.6154L0.999999 13.3077M0.999999 13.3077L13.3077 1M0.999999 13.3077H41" stroke="#B2C2D3" stroke-width="1.4"/>
						</svg>

					button.block__slider-next
						<svg width="41" height="27" viewBox="0 0 41 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M27.6923 25.6154L40 13.3077M40 13.3077L27.6923 1M40 13.3077H0" stroke="#106AC6" stroke-width="1.4"/>
						</svg>	

			.front-press__slider.swiper#front-press
				.swiper-wrapper
					.swiper-slide.press-slide(data-aos="fade",data-aos-delay='0',data-aos-duration="0",data-aos-anchor="#front-presss")
						.press-slide__img-wrap._br(data-customcursor)
							+picture('p-1','jpg')
							.press-slide__footer._p-h
								.press-slide__tag СМИ о нас
								.press-slide__date 06 июля 2022
						.press-slide__title КУРОРТ МАНЖЕРОК ВЫСАДИТ ПОРЯДКА 300 ТЫСЯЧ ХВОЙНЫХ САЖЕНЦЕВ
						a.press-slide__link(href="#")  ПОДРОБНЕЕ 
					.swiper-slide.press-slide(data-aos="fade",data-aos-delay='300',data-aos-duration="0",data-aos-anchor="#front-presss")
						.press-slide__img-wrap._br(data-customcursor)
							+picture('p-2','jpg')
							.press-slide__footer._p-h
								.press-slide__tag НОВОСТИ
								.press-slide__date 06 июля 2022
						.press-slide__title КУРОРТ МАНЖЕРОК ЗА ЗИМНИЙ СЕЗОН ПРИНЯЛ БОЛЬШЕ 100 ТЫСЯЧ ГОСТЕЙ
						a.press-slide__link(href="#")  ПОДРОБНЕЕ 
					.swiper-slide.press-slide(data-aos="fade",data-aos-delay='600',data-aos-duration="0",data-aos-anchor="#front-presss")
						.press-slide__img-wrap._br(data-customcursor)
							+picture('p-3','jpg')
							.press-slide__footer._p-h
								.press-slide__tag Новости
								.press-slide__date 06 июля 2022
						.press-slide__title МАНЖЕРОК — НОВАЯ ТОЧКА 
							br
							| НА КАРТЕ ТРИАТЛОНА
						a.press-slide__link(href="#")  ПОДРОБНЕЕ 
					.swiper-slide.press-slide(data-aos="fade",data-aos-delay='900',data-aos-duration="0",data-aos-anchor="#front-presss")
						.press-slide__img-wrap._br(data-customcursor)
							+picture('p-1','jpg')
							.press-slide__footer._p-h
								.press-slide__tag СМИ о нас
								.press-slide__date 06 июля 2022
						.press-slide__title КУРОРТ МАНЖЕРОК ВЫСАДИТ ПОРЯДКА 300 ТЫСЯЧ ХВОЙНЫХ САЖЕНЦЕВ
						a.press-slide__link(href="#")  ПОДРОБНЕЕ 
					.swiper-slide.press-slide(data-aos="fade",data-aos-delay='1200',data-aos-duration="0",data-aos-anchor="#front-presss")
						.press-slide__img-wrap._br(data-customcursor)
							+picture('p-2','jpg')
							.press-slide__footer._p-h
								.press-slide__tag НОВОСТИ
								.press-slide__date 06 июля 2022
						.press-slide__title КУРОРТ МАНЖЕРОК ЗА ЗИМНИЙ СЕЗОН ПРИНЯЛ БОЛЬШЕ 100 ТЫСЯЧ ГОСТЕЙ
						a.press-slide__link(href="#")  ПОДРОБНЕЕ 
					.swiper-slide.press-slide(data-aos="fade",data-aos-delay='1500',data-aos-duration="0",data-aos-anchor="#front-presss")
						.press-slide__img-wrap._br(data-customcursor)
							+picture('p-3','jpg')
							.press-slide__footer._p-h
								.press-slide__tag Новости
								.press-slide__date 06 июля 2022
						.press-slide__title МАНЖЕРОК — НОВАЯ ТОЧКА 
							br
							| НА КАРТЕ ТРИАТЛОНА
						a.press-slide__link(href="#")  ПОДРОБНЕЕ 